GEMINI_API_KEY=AIzaSyDKZrDrFVbdL2_t2A-g82mGQjtk9haKB4g
SUPABASE_URL=https://hefzmawmgclbrxjtyhvq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhlZnptYXdtZ2NsYnJ4anR5aHZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQxMjQ3OCwiZXhwIjoyMDk2OTg4NDc4fQ.MLniRziE6QUi7al73n1cqFO4eOcmAKoHaJ7R92dBrJs
FRONTEND_URL=http://localhost:3000